* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin: 40px 0;
}

h3 {
  text-align: center;
  margin: 20px 0;
  color: rgb(65, 46, 73);
  font-size: 20px;
}

h2 {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 8px;
  width: 100%;
  border: none;
  background: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(31, 29, 27);
  box-shadow: 0px 0px 3px 3px rgb(161, 156, 156);
}

input:focus {
  outline: none;
}

.btn {
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.card {
  width: 250px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background: none;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 3px rgb(212, 208, 208);
  color: black;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 
.location, .location h3 {
  color: black;
}

.weather-icon img {
  width: 60px;
  height: 60px;
  animation: iconanimation 3s infinite;
}

@keyframes iconanimation {
  from {
    transform: scale(0.5, 0.5);
  }
  to {
    transform: scale(1, 1);
  }
}

.temperature h2 {
  font-size: 30px;
  font-weight: 900;
}

.location h3 i {
  margin-right: 10px;
  animation: location 2s infinite;
}

@keyframes location {
  0% {
    transform: rotateY(0deg)
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
